@font-face {
	font-family: Dosis;
	src: url(https://fonts.google.com/specimen/Dosis);
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Dosis;
	overflow-x: hidden;
}

.navbar_bg {
    display: flex;
	width: 1550px;
	height: 87px;
	-ms-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
	background: rgba(81, 133, 236, 1);
}

.ps_bot_shop {
    width: 126px;
	height: 72px;
	background: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: Dosis;
    text-decoration: none;
    color: rgba(81, 133, 236, 1);
    overflow: hidden;
    font-size: 20px;
    padding-top: 15px;
    margin-left: 56px;
}

.logo_header {
    position: absolute;
	top: 6px;
	left: 697px;
	width: 125px;
	height: 88.71px;
}

.popup1{
    width: 1550px;
    text-align: center;
    font-family: Dosis;
    font-size: 20px;
    margin-top: 90px;
    background: rgb(255, 255, 255);
    animation: time_pop1  5s;
    opacity: 0;
}

@keyframes time_pop1{
    0%{
        opacity: 1;
        background: rgb(55, 237, 70);
    }
    50%{
        opacity: 1;
        background: rgb(55, 237, 70);
    }
    100%{
        opacity: 0.5;
        background: rgb(55, 237, 70);
    }
}

.popup2{
    width: 1550px;
    text-align: center;
    font-family: Dosis;
    font-size: 20px;
    margin-top: 90px;
    background: rgb(255, 255, 255);
    animation: time_pop2  5s;
    opacity: 0;
}

@keyframes time_pop2{
    0%{
        opacity: 1;
        background: rgb(219, 10, 10);
    }
    50%{
        opacity: 1;
        background: rgb(219, 10, 10);
    }
    100%{
        opacity: 0.5;
        background: rgb(219, 10, 10);
    }
}