@font-face {
    font-family: Dosis;
    src: url(https://fonts.google.com/specimen/Dosis);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Dosis;
    overflow-x: hidden;
}

.header_bg {
    display: flex;
    width: 1550px;
    height: 87px;
    -ms-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    background: rgb(102, 81, 236);
}

.ps_bot_shop {
    position: absolute;
    top: 18px;
    left: 78px;
    width: 82px;
    height: 62px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 20px;
    text-align: center;
    color: rgb(102, 81, 236);
}

.shop_name_bg {
    width: 126px;
    height: 87px;
    margin-left: 56px;
    background: rgba(255, 255, 255, 1);
}

.logo_header {
    position: absolute;
    top: 6px;
    left: 697px;
    width: 125px;
    height: 88.71px;
}

.for_admin {
    margin-left: 58px;
    padding-top: 30px;
    font-size: 20px;
    color: white;
}

.logout_btn {
    width: 108px;
    height: 38px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #ffffff;
    background: rgb(102, 81, 236);
    margin-left: 1000px;
    margin-top: 21px;
    text-decoration: none;
    cursor: pointer;

    overflow: hidden;
    font-family: Dosis;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    padding-top: 8px;
}
.logout_btn:hover {
    background-color: #ffffff;
    color: rgb(102, 81, 236);
}

.footer_frame {
    bottom: 0;
    width: 1550px;
    height: 48px;
    background: rgba(121.12, 121.12, 121.12, 1);
}

.logo_foot {
    width: 50px;
    height: 35.48px;
}

.footer_div {
    display: flex;
    margin: auto;
    width: 200px;
    padding-top: 15px;
}

.team_ps_bot {
    top: 993px;
    left: 713px;
    width: 163px;
    height: 36px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
}

.comm_div {
    width: 1400px;
    min-height: 175px;
    background: #eaeaea;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px;
}

.totalPrice{
    text-align: left;
    overflow: hidden;
    font-family: Dosis;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 1200px;
}

.tableBG_div {
    width: 1330px;
    min-height: 175px;
    background: #b3dfe9;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px;
}

.new_customer {
    position: relative;
    top: 25px;
    left: 25px;
    width: 1372px;
    height: 102px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 36px;
    text-align: left;
    color: #000000;
}

.old_customer {
    position: relative;
    top: 25px;
    left: 25px;
    width: 1372px;
    height: 102px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 36px;
    text-align: left;
    color: #000000;
}

.customer_name {
    top: 206px;
    left: 81px;
    width: 264.9px;
    height: 60.32px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 24px;
    text-align: left;
    color: #000000;
}

.product_code {
    width: 400px;
    height: 40.71px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 18px;
    text-align: left;
    color: #000000;
    margin-left: 20px;
}
.productInCatalog {
    position: relative;
    top: 35px;
    left: 25px;
    width: 320px;
    height: 102px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 40px;
    text-align: left;
    margin-left: 50px;
    margin-right: 5px;
    color: #000000;
}

.product_name {
    width: 587px;
    height: 40.71px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 18px;
    text-align: left;
    color: #000000;
}

.quantity {
    width: 400px;
    height: 40.75px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 18px;
    text-align: center;
    color: #000000;
}

.price {
    top: 243.19px;
    left: 1187px;
    width: 199.93px;
    height: 40.75px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 18px;
    text-align: left;
    color: #000000;
}
.productName {
    top: 243.19px;
    left: 1187px;
    width: 1000px;
    height: 40.75px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}
.productCodeItalic {
    top: 243.19px;
    left: 1187px;
    width: 1000px;
    height: 40.75px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    color: #000000;
}
.description {
    top: 243.19px;
    left: 1187px;
    width: 1000px;
    height: flex;
    overflow: hidden;
    font-family: Dosis;
    font-size: 18px;
    text-align: left;
    padding-top: 36px;
    color: #000000;
}

.btn_frame {
    display: flex;
    justify-content: space-between;
}

.cancel_btn {
    width: 162px;
    height: 44px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid rgba(255, 34, 204, 1);
    background: #ffffff;
    cursor: pointer;

    padding-top: 18.5px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 34, 204, 1);
}
.cancel_btn:hover {
    background: rgba(255, 34, 204, 1);
    color: #ffffff;
}

.confirm_btn {
    width: 162px;
    height: 44px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid rgba(13.21, 211.44, 33.04, 1);
    background: #ffffff;
    cursor: pointer;

    padding-top: 7px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 20px;
    text-align: center;
    color: rgba(13.21, 211.44, 33.04, 1);
}
.confirm_btn:hover {
    background: rgba(13.21, 211.44, 33.04, 1);
    color: #ffffff;
}
.btn_right {
    display: flex;
    justify-content: flex-end;
}
.addToCart_btn {
    width: 162px;
    height: 44px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid rgba(13.21, 211.44, 33.04, 1);
    background: #ffffff;
    cursor: pointer;

    padding-top: 7px;
    overflow: hidden;
    font-family: Dosis;
    font-size: 20px;
    text-align: center;
    color: rgba(13.21, 211.44, 33.04, 1);
}
.addToCart_btn:hover {
    background: rgba(13.21, 211.44, 33.04, 1);
    color: #ffffff;
}
.td {
    border: 1px solid black;
}

.table {
    border: 1px;
    border-collapse: collapse;
    width: 100%;
    margin: 8px;
    padding: 36px;
    text-align: center;
}

.product_btn {
    width: 250px;
    height: 72px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid white;
    background: #4db5cc;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;

    overflow: hidden;
    font-family: Dosis;
    font-size: 20px;
    text-align: center;
    color: white;
    box-shadow: 10px 10px 2px lightblue;
}
.product_btn:hover {
    background: #fcf5cf;
    border: 1px solid #f4c025;
    color: #f4c025;
    box-shadow: 10px 10px 10px lightgray;
}
