@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Nunito:ital,wght@1,200&family=Prompt&display=swap');

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #848d91;
}

.container:hover .overlay {
    opacity: 90%;
}

.container {
    position: relative;
    width: 50%;
}

.textA {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 90%;
    width: 90%;
    padding-bottom: 20px;
}

.fontA {
    font-family: "dosis";
}

.slick-prev {
    background-position: 0px;
    width: 30px;
    height: 50px;
    position: absolute;
    top: 30%;
    left: 0;
    display: block;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    z-index: 100;
}

.slick-next {
    background-position: 0px;
    width: 30px;
    height: 50px;
    position: absolute;
    top: 30%;
    right: 0;
    display: block;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    z-index: 100;
}


.slick-prev:before,
.slick-next:before {
    font-family: FontAwesome;
    font-size: 40px;
    line-height: 1;
    color: rgb(99, 94, 94);
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
    content: "\f053";
}

[dir="rtl"] .slick-prev:before {
    content: "\f054";
}

[dir="rtl"] .slick-next {
    left: -10px;
    top: 70px;
    right: auto;
}

.slick-next:before {
    content: "\f054";
}

[dir="rtl"] .slick-next:before {
    content: "\f053";
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .animate-flicker {
     -webkit-animation: flickerAnimation 1s infinite;
     -moz-animation: flickerAnimation 1s infinite;
     -o-animation: flickerAnimation 1s infinite;
      animation: flickerAnimation 1s infinite;
  }

  span:before{
    content:'';
    animation: animate initial 8s;
  }

  @keyframes animate {
    0%{
        content: 'gg';
    }
    100%{
        content: 'ez';
    }
  }

  /* text slider */
  #rssBlock{
    left:0px;
    height: 80px;
    background: #FFFFFF;
    position: absolute;
    width:100%;
    overflow: hidden;
  }
  
  /*remove p*/
  .cnnContents {
    width:100%;
    padding-top: 20px;
    /* margin-bottom: 20px; */
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: 'dosis';
    font-weight: 300;
  }
  
  .marqueeStyle {
    width:100%;
    display:inline-block;
    /* Apply animation to this element */
    /* -webkit-animation: scrolling-left1 5s linear infinite; */
    animation: scrolling-left1 15s linear infinite;
  }
  
  /* scrolling-left is continuous/repeatly text */
  @keyframes scrolling-left1 {
      0% {transform: translateX(100%);
          -webkit-transform: translateX(100%);}
        100% {transform: translateX(-100%);
            -webkit-transform: translateX(-100%);}
  }
  
  @-webkit-keyframes scrolling-left1 {
      0% {-webkit-transform: translateX(100%);}
        100% {-webkit-transform: translateX(-100%);}
  }

  .toBig {
    /* position:absolute; */
    animation: to_Big;
    animation: to_Big 2s ease-in-out infinite alternate;
    -webkit-animation: to_Big 2s ease-in-out infinite alternate;
    
  }
  @keyframes to_Big {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    100% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
  }


  
  .move {
    position: relative;
    animation: mymove 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 50px;}
  }
  
@media only screen and (max-width: 1180px) {
    .carousel {
        width: 100%;
    }
}